@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Noto Serif SC', serif;
}

body {
  background: #000;
  color: #fff;
}
